body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px #fafafa inset !important;
    -webkit-box-shadow: 0 0 0px 1000px #fafafa inset !important;
}

.navbar-fixed {
    z-index: 9999;
}

.modal {
    margin-top: 3%;
}

.header-search-wrapper {
    margin: 10px 120px auto auto;
    width: 200px;
    height: 40px;
    display: inline-block;
    position: relative;
}

.header-search-wrapper i {
    position: absolute;
    font-size: 24px;
    top: 6px;
    left: 24px;
    line-height: 32px !important;
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease
}

input.header-search-input:focus+i.material-icons {
    color: #c0392b;
}

input.header-search-input {
    display: block;
    padding: 2px 4px 0px 76px !important;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    height: 24px;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    border: none !important;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    border-radius: 3px
}

input.header-search-input:hover {
    background: #ef9a9a;
}

input.header-search-input:focus {
    color: #c0392b;
    background: #fff;
    border-bottom: none !important;
    box-shadow: none !important
}

.header-search-input::-webkit-input-placeholder {
    color: #fff;
    font-size: 16px;
    font-weight: 400
}

.header-search-input::-moz-placeholder {
    color: #fff;
    font-size: 16px;
    font-weight: 400
}

.header-search-input:-ms-input-placeholder {
    color: #fff;
    font-size: 16px;
    font-weight: 400
}

.header-search-input:focus::-webkit-input-placeholder {
    color: #c0392b;
    font-size: 16px;
    font-weight: 400
}

.header-search-input:focus::-moz-placeholder {
    color: #c0392b;
    font-size: 16px;
    font-weight: 400
}

.header-search-input:focus::placeholder {
    color: #c0392b;
    font-size: 16px;
    font-weight: 400
}

.header-search-input:focus:-ms-input-placeholder {
    color: #c0392b;
    font-size: 16px;
    font-weight: 400
}

.header-search-input::placeholder {
    color: #fff;
    font-size: 16px;
    font-weight: 400
}

@media only screen and (max-width: 992px) {
    nav .nav-wrapper {
        text-align: center
    }
    nav .nav-wrapper a.page-title {
        font-size: 36px
    }
    ul.side-nav.leftside-navigation {
        top: 56px !important
    }
}

#parent-profile-image>img {
    width: 60% !important;
    margin-left: 4vw;
    margin-top: 7vh;
}

#anchor-icon-edit {
    position: absolute;
    top: 68%;
    right: 3%;
    width: 56px;
    height: 56px;
}

#anchor-icon-edit>i {
    margin-top: 7px;
    font-size: 1.8rem;
}

#mobile-anchor-icon-edit {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 56px;
    height: 56px;
}

#mobile-anchor-icon-edit>i {
    margin-top: 7px;
    font-size: 1.8rem;
}


/*CSS For Webcamera-Frame*/

#canvas {
    display: none;
}

.output {
    width: 340px;
    display: inline-block;
}

.center-modal {
    position: absolute;
    left: 50%;
    margin: 0 auto;
    display: flex;
}

.center-modal .modal {
    position: relative;
    left: -50%;
    width: auto;
}


#startbutton {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 1vh;
    background: None;
    left: 42%;
    font-size: 14px;
    color: rgba(255, 255, 255, 1.0);
}

.contentarea {
    font-size: 16px;
    font-family: "Lucida Grande", "Arial", sans-serif;
    width: 760px;
}